buoi4/dssv.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Định nghĩa kiểu dữ liệu dùng chung -->
    <xs:simpleType name="TenType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]+"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SDTType">
        <xs:restriction base="xs:string">
            <xs:pattern value="0[0-9]{9}"/>
            <xs:length value="10"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="MaType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Định nghĩa phần tử gốc -->
    <xs:element name="DSSV">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="KHOA" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MA" type="MaType"/>
                            <xs:element name="TEN" type="TenType"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="LOP" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MA" type="MaType"/>
                            <xs:element name="TEN" type="xs:string" maxOccurs="1"/>
                            <xs:element name="QUANLY" type="MaType"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="SINHVIEN" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MSSV" type="MaType"/>
                            <xs:element name="HOTEN" type="xs:string"/>
                            <xs:element name="EMAIL" type="xs:string"/>
                            <xs:element name="DIACHI" type="xs:string"/>
                            <xs:element name="SDT" type="SDTType"/>
                            <xs:element name="THUOC" type="MaType"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>

        <!-- Khóa chính và khóa ngoại -->
        <xs:key name="khoaKey">
            <xs:selector xpath="KHOA"/>
            <xs:field xpath="MA"/>
        </xs:key>

        <xs:key name="lopKey">
            <xs:selector xpath="LOP"/>
            <xs:field xpath="MA"/>
        </xs:key>

        <xs:keyref name="lopToKhoa" refer="khoaKey">
            <xs:selector xpath="LOP"/>
            <xs:field xpath="QUANLY"/>
        </xs:keyref>

        <xs:key name="svKey">
            <xs:selector xpath="SINHVIEN"/>
            <xs:field xpath="MSSV"/>
        </xs:key>

        <xs:keyref name="svToLop" refer="lopKey">
            <xs:selector xpath="SINHVIEN"/>
            <xs:field xpath="THUOC"/>
        </xs:keyref>

    </xs:element>
</xs:schema>
