buoi4/quanan.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!-- Kiểu dữ liệu chung -->
    <xs:simpleType name="MaType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="UsernameType">
        <xs:restriction base="xs:string">
            <xs:minLength value="6"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PasswordType">
        <xs:restriction base="xs:string">
            <xs:minLength value="10"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Phần tử gốc -->
    <xs:element name="QUANAN">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="BAN" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="TENBAN" type="xs:string"/>
                            <xs:element name="SOBAN" type="xs:integer"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="MON" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MAMON" type="MaType"/>
                            <xs:element name="TENMON" type="xs:string"/>
                            <xs:element name="GIA" type="xs:float"/>
                            <xs:element name="HINHANH" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="NHANVIEN" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MANV" type="MaType"/>
                            <xs:element name="TENNV" type="xs:string"/>
                            <xs:element name="SDT" type="xs:string"/>
                            <xs:element name="DIACHI" type="xs:string"/>
                            <xs:element name="GIOITINH" type="xs:string"/>
                            <xs:element name="USERNAME" type="UsernameType"/>
                            <xs:element name="PASSWORD" type="PasswordType"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="HOADON" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="SOHD" type="MaType"/>
                            <xs:element name="NGAYLAP" type="xs:date"/>
                            <xs:element name="TONGTIEN" type="xs:float"/>
                            <xs:element name="LAP_HD" type="MaType"/>
                            <xs:element name="THANHTOAN" type="MaType"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="CTHD" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="SOHD" type="MaType"/>
                            <xs:element name="MAMON" type="MaType"/>
                            <xs:element name="SOLUONG" type="xs:integer"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
        <!-- Khóa chính -->
        <xs:key name="banKey">
            <xs:selector xpath="BAN"/>
            <xs:field xpath="MABAN"/>
        </xs:key>
        <xs:key name="monKey">
            <xs:selector xpath="MON"/>
            <xs:field xpath="MAMON"/>
        </xs:key>
        <xs:key name="nvKey">
            <xs:selector xpath="NHANVIEN"/>
            <xs:field xpath="MANV"/>
        </xs:key>
        <xs:key name="hdKey">
            <xs:selector xpath="HOADON"/>
            <xs:field xpath="SOHD"/>
        </xs:key>
        <!-- Khóa ngoại -->
        <xs:keyref name="hoadonToBan" refer="banKey">
            <xs:selector xpath="HOADON"/>
            <xs:field xpath="THANHTOAN"/>
        </xs:keyref>
        <xs:keyref name="hoadonToNV" refer="nvKey">
            <xs:selector xpath="HOADON"/>
            <xs:field xpath="LAP_HD"/>
        </xs:keyref>
        <xs:keyref name="cthdToHD" refer="hdKey">
            <xs:selector xpath="CTHD"/>
            <xs:field xpath="SOHD"/>
        </xs:keyref>
        <xs:keyref name="cthdToMon" refer="monKey">
            <xs:selector xpath="CTHD"/>
            <xs:field xpath="MAMON"/>
        </xs:keyref>
    </xs:element>
</xs:schema>
